@font-face {
    font-family: "OutfitR";
    src: url("../../src/fonts/Outfit-Regular.ttf");
  }
  @font-face {
      font-family: "OutfitRI";
      src: url("../../src/fonts/Outfit-ExtraLight.ttf");
    }
  @font-face {
    font-family: "Kalam";
    src: url("../../src/fonts/Kalam-Regular.ttf");
  }
  
  /*color: rgb(32, 250, 12);*/

  .contenedorPayment 
  {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    background-color: #fff;
  }
 
 .contenedorPayment .contenedorInfoPago 
 {
  width: 60%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
 }
 .contenedorPayment .contenedorInfoPago .imagenPago 
 {
  width: 20rem;
  height: auto;
  
 }
 .contenedorPayment .contenedorInfoPago  .informacionPago 
 {
  width: 20rem;
  height: auto;
  font-family: 'OutfitR';
  margin-top: 4rem;

 }



  .imagenPago img 
  {
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
  }
  .informacionPago p 
  {
    font-size: 1.2rem;
    font-family: 'OutfitR';
  }
  .informacionPago h3 
  {
    font-size: 1.4rem;
    font-family: 'OutfitR';
    margin-top: 2rem;
  }
  
  @media(max-width:768px){
    .contenedorPayment 
    {
        width: 100%;
        height: auto;
       
        
    }
    .contenedorPayment .contenedorInfoPago 
    {
      
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
       
    }
    .contenedorPayment .contenedorInfoPago .imagenPago 
    {
      width: 90%;
      margin: 1rem auto;
    }
    .contenedorPayment .contenedorInfoPago .informacionPago 
    {
      text-align: center;
      margin: 1rem auto;
    }
   
  }