

@font-face {
    font-family: 'OutfitR';
    src: url('../../src/fonts/Outfit-Regular.ttf') 
  }
  @font-face {
    font-family: 'Kalam';
    src: url('../../src/fonts/Kalam-Regular.ttf') 
  }

  
  .contenedorTres 
  {
    max-width: 120rem;
    height: auto;
    padding: 3rem ;
    background-color: #fff;
  }

  @media (max-width:768px){
    .contenedorTres {
      width: 100%;
      padding: 2rem 0;
    }
  }
  .contenedorTres h2 
  {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #1e1e1e;
    font-family: 'OutfitR';
  }
  @media (max-width:768px){
    .contenedorTres h2 
    {
      font-size: 3rem;
      
    }
  }

.containerImagenes 
{
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;

}
@media (max-width:768px){
  .contenedorTres .containerImagenes 
  {
    height: 20rem;
  }
  
}


.containerImagenes .mountainBiker
{
  position: absolute;
  width: 35rem;
  height: 35rem;
  z-index: 40;
}
.containerImagenes .mountainImg 
{
  position: absolute;
  width: 100%;
  height: 40rem;
}

@media (max-width:768px){
  .contenedorTres .mountainBiker {
    width: 10rem;
    height: 10rem;
  }
  .contenedorTres .mountainImg{
    width: 100%;
    height: 15rem;
  }
}