@font-face {
  font-family: "OutfitR";
  src: url("../../../public/fonts/Outfit-Regular.ttf");
}
@font-face {
    font-family: "OutfitRI";
    src: url("../../../public/fonts/Outfit-ExtraLight.ttf");
  }
@font-face {
  font-family: "Kalam";
  src: url("../../../public/fonts/Kalam-Regular.ttf");
}

/*color: rgb(32, 250, 12);*/

.contenedorCuatro {
  max-width: 120rem;
  height: auto;
  padding: 3rem 2rem;
  background-color: azure;
}
.contenedorCuatro h2 {
  font-family: "OutFitR";
  font-size: 4rem;
  color: rgb(32, 250, 12);
  text-align: center;
}

.contenedorInformacion {
    width: 70rem;
    height: auto;
    padding: 3rem 2rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.tarjetas{
    width: 30rem;
    height: 15rem;
    display: flex;
    margin-top: 3rem;
}
.tarjetas p {
    width: 70%;
    margin-left: 2rem;
    font-family: 'Kalam';
    font-size: 1.2rem;
}

@media (max-width:768px){
    .contenedorCuatro 
    {
        width: 100%;
        padding: 2rem 0;
       
        
    }
    .contenedorInformacion {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        
    }
    .tarjetas 
    {
        width:100%;
        height:auto;
        display: flex;
        padding: 2rem;
        flex-direction: column;
        border-bottom: .1rem solid #7d7d7d;
        
    }
    .tarjetas p 
    {
        text-align: center;
        width: 100%;
        font-size: 1rem;
        margin-top: 2rem;
        margin-left: .5rem;
       
    }
    .tarjetas img 
    {
        margin-left: 5rem;
    }
    .contenedorCuatro h2 {
        font-size: 2rem;
        
    }
}
