@font-face {
    font-family: "OutfitR";
    src: url("../src/fonts/Outfit-Regular.ttf");
  }
  @font-face {
      font-family: "OutfitRI";
      src: url("../src/fonts/Outfit-ExtraLight.ttf");
    }
  @font-face {
    font-family: "Kalam";
    src: url("../src/fonts/Kalam-Regular.ttf");
  }
  
  /*color: rgb(32, 250, 12);*/
  .contenedorGaleria 
  {
    max-width: 120rem;
    height: auto;
    background-color: #fff;
    padding-top: 2rem;
  }
  .contenedorGaleria h2 
  {
    font-family: 'OutfitR';
    font-size: 4rem;
    text-align: center;
    color: rgb(32 , 250 , 12);
  }
  .contenedorInformacion 
  {
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem;
    border: .1rem solid #eaeaea;
    margin-top: 3rem;
  }
  .contenedorImagen 
  {
    width: 100%;
    height: auto;
  }
  .informacion 
  {
    width: 100%;
    height: auto;
  }
  .informacion p 
  {
    font-family: 'OutfitR';
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .tituloGalery h2 
  {
    margin-top: 3rem;
  }

  .slider {
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }

  
  .slider ul {
    display: flex;
    padding: 0;
    width: 1000rem;
    animation: cambio 200s infinite  linear;
  }
  
  .slider li {
    width: 100%;
    list-style: none;
  }
  
  .slider li img 
  {
    width: 79rem;
  }
  
  @keyframes cambio {
    0% {margin-left: 0;}
	
	100% {margin-left: -1990%;}
    
   


  }
 
 .buttonClass 
 {
  font-size: 2rem;
  text-decoration: none;
  background-color: #1e1e1e;
  color: rgb(32 , 250 , 12);
  padding: .5rem 1rem;
  margin-left: 3rem;
  border-radius: .4rem;
  transition: all .3s ease-in-out;
 }
 .buttonClass a 
 {
  color: #08f008;
  text-decoration: none;
 }
 .buttonClass:hover 
 {
  background-color: #fff;
  border: .1rem solid rgb(32,250,12);
  color: rgb(32 , 250 , 12);
 }
 .btnReserva 
{
  background-color: #08f008;
  width: 15rem;
  height: 3rem;
  color: #fff;
  font-family: 'OutfitR';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0;
  border-radius: .5rem;
  margin-top: 4rem;
  cursor: pointer;
  transition: al .3s ease-in;
  
}
.btnReserva:hover 
{
  background-color: #000;
  color: #08f008;
  transform: scale(1.1,1.1);
  box-shadow: 0 0 1rem #08f008;
}
     
@media(max-width:768px){
  .contenedorGaleria 
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
  }
  .contenedorGaleria h2 
  {
    font-size: 3rem;
    padding: 0 1rem;
  }
  .contenedorInformacion 
  {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .informacion 
  {
    width: 100%;
  }
  .contenedorImagen {
    width: 100%;
  }
  .contenedorImagen img 
  {
    width: 100%;
    height: 20rem;
  }
  .slider 
  {
    width: 100%;
    height: auto;
    
  }
  .slider ul 
  {
    width:2000%;
  }
  .slider ul li img 
  {
    width: 100%;
    height: 20rem;
  }
 
  .buttonClass 
  {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .buttonClass a 
  {
    text-decoration: none;
    color: #08f008;
  }
}
  